html, body {
  height: 100%;
  margin: 0;
  background-image: url(/img/index-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 50px 0 100px;
}

.logo {
  float: left;
  width: 200px;
  line-height: 100px;
}

.navbar {
  float: right;
  line-height: 100px;
}

.navbar > a {
  text-decoration-style: none;
  color: #ffd600;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.navbar > a:hover {
  color: #ca8868;
}

main {
  padding: 100px;
}

section {
  font-size: 20px;
  margin: 100px 0;
}

#curr {
  color: #ca8868;
}