<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的榴莲</title>
  <link rel="stylesheet" href="/css/they.css">
</head>
<body>
  <header>
    <a href="/memory.html"><img src="./assets/logo.png" class="logo" alt="榴莲"></a>
    <nav class="navbar">
      <a href="/they.html" id="curr">他们的榴莲</a>
      <a href="/memory.html">我的榴莲</a>
      <a href="/index.html">榴莲主页</a>
    </nav>
  </header>
  <main>
    <p class="memory-bar">他们的“榴莲”</p>
    <section>
      <div class="col">
        <img src="./assets/TB2x_stXE.iyKJjSspdXXbB_pXa_!!581149330-0-beehive-scenes.jpg_460x460xz.jpg" alt="">
      </div>
      <div class="col">
        <img src="./assets/TB2x_stXE.iyKJjSspdXXbB_pXa_!!581149330-0-beehive-scenes.jpg_460x460xz.jpg" alt="">
      </div>
      <div class="col">
        <img src="./assets/TB2x_stXE.iyKJjSspdXXbB_pXa_!!581149330-0-beehive-scenes.jpg_460x460xz.jpg" alt="">
      </div>
    </section>
  </main>
</body>
</html>