<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>榴莲</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <a href="/index.html"><img src="/img/logo.png" class="logo" alt="榴莲"></a>
    <nav class="navbar">
      <a href="/page/login">登陆榴莲</a>
      <a href="/page/register">注册榴莲</a>
      <a href="/page/memory">我的榴莲</a>
      <a href="#" id="curr">榴莲</a>
    </nav>
  </header>
  <main>
    <section>
      <p>
        带不走的留不下的，我全部交给他。<br>
        让他捧着我的手掌自由自在挥洒。<br>
        如果有一个世界浑浊得不想话。<br>
        原谅我飞，曾经眷恋太阳！<br>
        <label>——《鱼》</label>
      </p>
    </section>
    <section>
      <p>
        我们是榴莲旧物寄存网，无论您爱的还是您恨的。<br>
        只要是您舍不得又无法安放的请放心交给我们。<br>
        让我们替您收留过去，让您自由大胆前行！<br>
        <label>——《来自榴莲的守护者》</label>
      </p>
    </section>
  </main>
</body>
</html>