<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>榴莲</title>
  <link rel="stylesheet" href="/css/index2.css">
</head>
<body>
  <header>
    <a href="/index.html"><img src="/img/logo.png" class="logo" alt="榴莲"></a>
    <nav class="navbar">
      <a href="/page/index">返回主页</a>
    </nav>
  </header>
  <main>
    <section>
<br><br>
      <h2 align="center">
        我们是一家集旧物寄存管理、相关故事分享于一体的“旧物博物馆”。那些带不走，又留不下的，就请交付给我们吧——榴莲专门设置了一个特别的仓库，存放记忆、故事，过去、未来。你愿不愿意让那些东西，暂时被安置在这个地球一隅的柔软角落？这就是我们-——榴莲旧物寄存。
      </h2>
<br><br><br><br><br><br><br><br><br>
<h6 align="center">联系电话</h6>
<h5 align="center">17624824725</h5>
    </section>
  </main>
</body>
</html>