<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的榴莲</title>
  <link rel="stylesheet" href="/css/my.css">
  <script type="text/javascript">
  	window.onload = function() {
  		 $.ajax({
  		      type : "POST", //数据传输的方式
  		      url : "/page/searchAllGoods", //进行判断的地址值
  		      success : function(data) {
  			  var goodsList = date.get("result")
  			  var insertText = "";
  		      if(goodsList.size() > 0) {
  			  	for (var i = 0; i < goodsList.size(); i++) {
  			  		insertText += "
  			  		<div class="col">
  			        <img src="/img/"+goodsList.GOODS_NAME+" alt="">
  			      	</div>
  			      	";
  			  	}
  			  	
				document.getElementById("pic").innerHTML = insertText;
  		      }
  		 	  }
  		 });
  	}
  </script>
</head>
<style>
ul {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #FFFFFF;
	padding: 20px 40px;
	font-size: 20px;
}
h1 {
	font-size: 40px;
	margin: 0;
}
</style>
<body>
  <h1>我 的 榴 莲</h1>
  <div style="">
  	<ul>
  		<a href="/page/memory"><li>种下榴莲</li></a>
  		<a href="/page/they"><li>榴莲中心</li></a>
  		<a href="/page/index"><li>榴莲主页</li></a>
  	</ul>
  </div>
  <div id="pic"></div>
</body>
</html>