<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的榴莲</title>
  <link rel="stylesheet" href="/css/memory.css">
</head>
<body>
  <style>
  .story {
    display: flex;
    padding: 0 50px;
    justify-content: center;
    margin-top: 100px;
  }

  .story-img > img {
    width: 600px;
  }

  .story-detail {
    text-align: center;
    padding: 0 100px;
    color: #FFF;
  }
  
  .story-detail > p {
  	width: 600px;
  	text-align: left;
  }
  </style>
  <header>
    <a href="/story.html"><img src="/img/logo.png" class="logo" alt="榴莲"></a>
    <nav class="navbar">
      <a href="/page/they" id="curr">榴莲中心</a>
      <a href="/page/mypage">我的榴莲</a>
      <a href="/page/index">榴莲主页</a>
    </nav>
  </header>
  <main>
    <p class="memory-bar">榴莲故事</p>
    <div style="position:absolute;margin-left:530px;margin-top:520px"><h3 id="wenzi" style="color:white;"><h3>
      </div>
    <section class="story">
      <div class="story-img">
        <img src="">
      </div>
      <div class="story-detail">
        <h1></h1>
        <p></p>
      </div>
    </section>
  </main>
</body>

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script>
function getValue(url){
	//首先获取地址
	var url = url || window.location.href;
	//获取传值
	var arr = url.split("?");
	//判断是否有传值
	if(arr.length == 1){
		return null;
	}
	//获取get传值的个数
	var value_arr = arr[1].split("&");
	//循环生成返回的对象
	var obj = {};
	for(var i = 0; i < value_arr.length; i++){
		var key_val = value_arr[i].split("=");
		obj[key_val[0]]=key_val[1];
	}
	return obj;
}
var goodsName = decodeURI(getValue().goodsName);
var goodsStory = decodeURI(getValue().goodsStory);
var goodsSrc = decodeURI(getValue().goodsSrc);
var goodsPrice = decodeURI(getValue().goodsPrice);
console.log(goodsPrice)
document.querySelector(".story-detail > h1").innerHTML = goodsName;
document.querySelector(".story-detail > p").innerHTML = goodsStory;
document.querySelector("section img").attributes.src.value = goodsSrc;
$("#wenzi").append(goodsPrice+"元");
</script>
</html>